.faqBody {
    width: 100%;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    padding: 100px 50px;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(195, 236, 255,0.25);
}

.faqBody .body1 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faqBody .title {
    letter-spacing: 2px;
    word-spacing: 8px;
    word-break: break-all;
    color: #1c3c98;
    font-size: 30px;
    font-weight: bold;
    cursor: context-menu;
}

.faqBody .underline {
    width: 150px;
    height: 5px;
    background-color: rgb(0, 119, 204);
    margin-top: -10px;
    border-radius: 20px;
    outline: none;
}
.faqBody .faqItems{
    padding-top: 50px;
    width: 100%;
}
.faqBody .faqItems .accordion {
    width:100%;
    background-color: transparent;
}
.faqBody .card{
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin:10px 0;
}
.faqBody .card-header{
    background-color: rgb(0, 68, 136);
    color:black;
    border:none;
    /* border-bottom: 2px solid black; */
    /* margin: 10px 0; */
}
.faqBody .card-header h2 button{
    color:white;
}
.faqBody .card-header h2 button:hover{
    text-decoration: underline;
    color:white;
}
.faqBody .card .collapse{
    background-color: white;
    text-align: left;
}
.faqBody .card .collapse li{
    list-style-position: inside;
    padding:0 10px 0 auto;
    margin-top: 5px;
}
@media screen and (max-width:1150px) {
    .faqBody {
        padding: 50px 25px 50px 25px;
    }
    .faqBody .title {
        font-size: 1rempx;
    }
}
@media screen and (min-width:1000px) {
    .faqBody .faqItems{
        width:70%;
    }
    .faqBody .card .collapse img {
        width:600px;
        height:400px;
    }
}