<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="Keywords" content="pet biotech,pet biotech lab bangalore,pet biotech lab,pet biotech companies
,bhu pet biotechnology syllabus,j pet environ biotechnol,biotech pet shop iloilo
,pet pharm biotech,boreal pet food lincoln biotech,pet care bio examples
,pet bio examples,a biotech company,a pet bee,bio-pet
,animal biotech (bangalore) pvt ltd,animal behavior biotech,animal biotech companies,bio bio near me,bio fish vs bio live,animal biotech.com
,dog biotech company,bluebird bio vs crispr therapeutics,biotech companies near alewife,animal disease biotech,
a pet test,canine test,feline tests,panel test,pet test,pet test for,test of pet,the pet test,pet diagnostics,
animal diagnostics,molecular diagnostics,cancer testing,molecular test,molecular lab test,
molecular laboratory,molecular diagnostics laboratory,cancer screening test,test for cancer detection,
check for cancer,molecular diagnostic testing,veterinary diagnostics,molecular assays,
which test detect cancer,molecular laboratory tests,molecular diagnostics lab,diagnostic molecular,
molecular diagnostic assays,molecular diagnosis of diseases,animal health diagnostics,molecular testing laboratory,
test diagnostic molecular,molecular diagnostics adalah,laboratory molecular diagnostics,pcr for pets">
    <meta name="description" content="The products and services that we offer are :">
    <meta name="author" content="Anand & Kaustubh">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/p&s.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>

<body>
  {% block product_services %}
  <div class="productBody" id="productBody">
    <div class="body1">
      <p class="title">Product & Services</p>
      <div class="underline"></div>
    </div>
    <div class="productItems">
      <!-- <div class="items item1">Stem cells</div>
            <div class="items item2">Platelet Rich Plasma</div>
            <div class="items item3">Elisa kits</div>
            <div class="items item4">Molecular diagnosis by PCR</div>
            <div class="items item5">PCR diagnostic kits</div>
            <div class="items item6">Point of care diagnostic kits</div>
            <div class="items item7">Microscopic examination</div>
            <div class="items item8">Immunological disease surveillance by ELISA</div>
            <div class="items item9">Food, feed and drug contaminant detection by Mass
                Spectrometry</div> -->
      <!-- item1 -->
      <div class="flip-card item1">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/1.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/1.png') }}"> -->
            <p class="title">Stem cells</p>
          </div>
          <div class="flip-card-back">
            <p>Stem cells are the body's raw materials — cells from which all other cells with specialized
              functions are generated. Under the right conditions in the body or a laboratory, stem cells
              divide to form more cells called daughter cells. These daughter cells become either new stem
              cells or differentiated cells with a more specific function, such as blood cells, brain
              cells, heart muscle cells or bone cells.
              And we specialize in Stem Cell Research.</p>
          </div>
        </div>
      </div>
      <!-- item2 -->
      <div class="flip-card item2">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/2.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/2.png') }}"> -->
            <div class="title">Platelet Rich Plasma</div>
          </div>
          <div class="flip-card-back">
            <p>Platelet-rich plasma consists of two elements: plasma, or the liquid portion of blood, and
              platelets, a type of blood cell that plays an important role in healing throughout the body.
              Platelets are well-known for their clotting abilities, but they also contain growth factors
              that can trigger cell reproduction and stimulate tissue regeneration or healing in the
              treated area. Platelet-rich plasma is simply blood that contains more platelets than normal.
              We offer Platelet Rich Plasma as a product.</p>
          </div>
        </div>
      </div>
      <!-- item3 -->
      <div class="flip-card item3">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/31.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/3.png') }}"> -->
            <div class="title">Elisa kits</div>
          </div>
          <div class="flip-card-back">
            <p>ELISA kits are a quick, convenient, and accurate research tool for the detection and
              quantitation of targets of interest in cultures and samples.
              ELISA kits allow you to measure target-specific proteins with confidence, reliability, and
              consistency. A variety of ELISA kit formats are available with us which include complete,
              ready-to-use kits.</p>
          </div>
        </div>
      </div>
      <!-- item4 -->
      <div class="flip-card item4">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/4.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/4.png') }}"> -->
            <div class="title">Molecular diagnosis by PCR</div>
          </div>
          <div class="flip-card-back">
            <p>Molecular diagnostic technology like PCR play a very crucial role in the disease diagnostics
              in the 21st century and is considered to be one of the most developed molecular techniques
              which has a wide range of applications in the field of medicine, and is also used for,
              broad-spectrum pathogen detection and evaluation of emerging novel infections and
              surveillance.
              We have experts who perform PCR Diagnosis.</p>
          </div>
        </div>
      </div>
      <!-- item5 -->
      <div class="flip-card item5">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/5.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/5.png') }}"> -->
            <div class="title">PCR diagnostic kits</div>
          </div>
          <div class="flip-card-back">
            <p>Based on PCR technique, these kits offer a quick, sensitive and accurate detection.
              These PCR Diagnostic Kits shows a high coincidence with traditional methods, but with
              analysis in a few hours rather than days. We have perfected the design of PCR kits
              such as RT PCR diagnosis kit and has 100% specificity to diseases like COVID-19</p>
          </div>
        </div>
      </div>
      <!-- item6 -->
      <div class="flip-card item6">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/6.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/6.png') }}"> -->
            <div class="title">Point of care diagnostic kits</div>
          </div>
          <div class="flip-card-back">
            <p>Point of care (POC) diagnostic devices are used to obtain diagnostic results while with
              the patient or close to the patient. Used in doctors’ offices, hospitals, and in
              patients' homes, POCT diagnostic devices give quick feedback on many sorts of medical
              tests.POC diagnostic devices are used to test glucose and cholesterol levels, do
              electrolyte and enzyme analysis, test for drugs of abuse and for infectious diseases,
              and for pregnancy testing. Blood gases, cardiac markers, and fecal occult blood tests
              can also be done with POC diagnostic devices. Our POC devices designed to handle
              animal specimens with ease.</p>
          </div>
        </div>
      </div>
      <!-- item7 -->
      <div class="flip-card item7">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/7.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/7.png') }}"> -->
            <div class="title">Microscopic examination</div>
          </div>
          <div class="flip-card-back">
            <p>We conduct Microscopic examinations of various samples such as urine, skin and
              parenchyma tissues. Expert personnel handle the examinations.</p>

          </div>
        </div>
      </div>
      <!-- item8 -->
      <div class="flip-card item8">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/8.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/8.png') }}"> -->
            <div class="title">Immunological disease surveillance by ELISA</div>
          </div>
          <div class="flip-card-back">
            <p>Enzyme-linked immunosorbent assay (ELISA) is a labeled immunoassay that is considered
              the gold standard of immunoassays. This immunological test is very sensitive and is
              used to detect and quantify substances, including antibodies, antigens, proteins,
              glycoproteins, and hormones. The detection of these products is accomplished by
              complexing antibodies and antigens to produce a measurable result. We use ELISA
              testing for monitoring diseases and diagnose various Viral infections.</p>
          </div>
        </div>
      </div>
      <!-- item9 -->
      <div class="flip-card item9">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url('/static/image/9.png');">
            <!-- <img alt="ProductBg-Image"
                            src="{{ url_for('static',filename='image/9.png') }}"> -->
            <div class="title">Food, feed and drug contaminant detection by Mass
              Spectrometry</div>
          </div>
          <div class="flip-card-back">
            <p>Mass Spectrometry is an anlytical technique, and we use Mass Spectrometry as an
              essential tool in the monitoring of food contamination. We are well equipped with the
              usage of MS for microbiological contamination and pesticide and veterinary drug
              residues in food.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock product_services %}
</body>

</html>
